temp/*
!temp/.gitkeep

ansible/*
!ansible/.gitkeep

applications/*
!applications/.gitkeep

reports/*
!reports/
!reports/.gitkeep

logs/*
!logs/.gitkeep

cache/*
!cache/.gitkeep

cache/calibre/*
!cache/calibre
!cache/calibre/.gitkeep

!scripts/lib

