# ------------------------------------------------------------------------------
# Passwordless Sudo
# ------------------------------------------------------------------------------
#
# Replace USERNAME with the desired account.
#
# Example:
#
#   alan ALL=(ALL:ALL) NOPASSWD: ALL
#
# ------------------------------------------------------------------------------

USERNAME ALL=(ALL:ALL) NOPASSWD: ALL
