#### .npmrc - npm configuration file: https://docs.npmjs.com/files/npmrc

# A basic-auth string to use when authenticating against the npm registry.
# https://docs.npmjs.com/cli/v10/using-npm/config/#_auth
_auth=null

# The access level on the registry for packages published with this configuration.
# https://docs.npmjs.com/cli/v10/using-npm/config#access
access=public

# When running `npm outdated` and `npm list`, setting `--all` will show all outdated or installed packages, rather than only those directly depended upon by the current project.
# https://docs.npmjs.com/cli/v10/using-npm/config/#all
all=false

# Prevents throwing an error when `npm version` is used to set the new version to the same value as the current version.
# https://docs.npmjs.com/cli/v10/using-npm/config/#allow-same-version
allow-same-version=false

# When "true" submit audit reports alongside the current npm command to the default registry and all registries configured for scopes.
# https://docs.npmjs.com/cli/v10/using-npm/config#audit
audit=true

# The minimum level of vulnerability for `npm audit` to exit with a non-zero exit code.
# https://docs.npmjs.com/cli/v10/using-npm/config#audit-level
audit-level=low

# What authentication strategy to use with login. Note that if an `otp` config is given, this value will always be set to legacy.
# https://docs.npmjs.com/cli/v10/using-npm/config#auth-type
auth-type=web

# If passed to npm install, will rebuild the npm tree such that only versions that were available on or before the --before time get installed. If there's no versions available for the current set of direct dependencies, the command will error.
# https://docs.npmjs.com/cli/v10/using-npm/config#before
before=null

# Tells npm to create symlinks (or .cmd shims on Windows) for package executables.
# https://docs.npmjs.com/cli/v10/using-npm/config#bin-links
bin-links=true

# The browser that is called by npm commands to open websites.
# https://docs.npmjs.com/cli/v10/using-npm/config#browser
browser=true

# The Certificate Authority signing certificate that is trusted for SSL connections to the registry.
# https://docs.npmjs.com/cli/v10/using-npm/config#ca
ca=null

# The location of npm's cache directory.
# https://docs.npmjs.com/cli/v10/using-npm/config#cache
cache=./.cache/npm-cache

# A path to a file containing one or multiple Certificate Authority signing certificates. Similar to the `ca` setting, but allows for multiple CA's, as well as for the CA information to be stored in a file on disk.
# https://docs.npmjs.com/cli/v10/using-npm/config#cafile
cafile=null

# Optional companion option for `npm exec`, `npx` that allows for specifying a custom command to be run along with the installed packages.
# https://docs.npmjs.com/cli/v10/using-npm/config#call
call=""

# This is a list of CIDR address to be used when configuring limited access tokens with the `npm token create` command.
# https://docs.npmjs.com/cli/v10/using-npm/config#cidr
cidr=null

# If false, never shows colors. If "always" then always shows colors. If true, then only prints color codes for tty file descriptors.
# https://docs.npmjs.com/cli/v10/using-npm/config#color
color=true

# Run git commit hooks when using the `npm version` command.
# https://docs.npmjs.com/cli/v10/using-npm/config#commit-hooks
commit-hooks=true

# Override CPU architecture of native modules to install.
# https://docs.npmjs.com/cli/v10/using-npm/config#cpu
cpu=null

# The depth to go when recursing packages for `npm ls`.
# https://docs.npmjs.com/cli/v10/using-npm/config#depth
depth=1

# Show the description in `npm search`.
# https://docs.npmjs.com/cli/v10/using-npm/config#description-1
description=true

# Define arguments to compare in `npm diff`.
# https://docs.npmjs.com/cli/v10/using-npm/config#diff
diff=null

# Destination prefix to be used in `npm diff` output.
# https://docs.npmjs.com/cli/v10/using-npm/config#diff-dst-prefix
diff-dst-prefix="b/"

# Ignore whitespace when comparing lines in `npm diff`.
# https://docs.npmjs.com/cli/v10/using-npm/config#diff-ignore-all-space
diff-ignore-all-space=false

# Prints only filenames when using `npm diff`.
# https://docs.npmjs.com/cli/v10/using-npm/config#diff-name-only
diff-name-only=false

# Do not show any source or destination prefix in `npm diff` output.
# https://docs.npmjs.com/cli/v10/using-npm/config#diff-no-prefix
diff-no-prefix=false

# Source prefix to be used in `npm diff` output.
# https://docs.npmjs.com/cli/v10/using-npm/config#diff-src-prefix
diff-src-prefix="a/"

# Treat all files as text in `npm diff`.
# https://docs.npmjs.com/cli/v10/using-npm/config#diff-text
diff-text=false

# The number of lines of context to print in `npm diff`.
# https://docs.npmjs.com/cli/v10/using-npm/config#diff-unified
diff-unified=3








